#header-box {
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: #6F9FD8;
}

h1 {
  padding-top: 0.6em;
}

h2 {
  margin-top: 0.2em;
  font-size: 2em;
  font-style: italic;
  border: 1px solid black;
}

#location-heading {
  
}

.locName {
  margin-left: 45%;
  position: absolute;
  animation: flyin 2s;
  animation-iteration-count: 1;
  /* z-index: 9; */
}

@keyframes flyin {
  from {
    margin-left: 13%;
    margin-top: 5%;
  }
  50% {
    margin-top: 2%;
    margin-left: 13%;
  }
  to {
    margin-left: 45%;
  }
}
