#middle-box {
  display: flex;
  width: 33.333%;
  height: 80%;
  background-color: olive;
}

.gig-square {
  display: flex;
  width: 50%;
  height: 30%;
  background-color: darkorange;
  outline: 1px solid black;
  text-align: center;
  flex-flow: column nowrap;
}

#events-box {
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  width: 100%;
}

.gig-thumb {
  max-height: 60%;
  max-width: 80%;
  margin: 0 auto;
}
.gig-thumb:hover {
  opacity: 0.9;
  animation: infinite-spinning 2s;
}

@keyframes infinite-spinning {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
   100% {
    transform: rotate(0deg);
  }
}

#inner-gig-square {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}

.gig-name {
  font-size: 0.8em;
}

.gig-date {
  font-size: 0.8em;
}