#right-box {
  display: flex;
  width: 33.33%;
  height: 80%;
  background-color: #E94B3C;
  flex-direction: column;
}

#current-gig-box {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  height: 70%;
  background-color: #DBB1CD;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.gig-thumb-right {
  max-height: 40%;
  max-width: 80%;
  margin: 0 auto;
}

#button-box {
  width: 100%;
  height: 15%;
}

#gig-link {
  width: 70%;
  height: 55%;
  font-size: 1.4em;
  background-color: rgba(2, 2, 2, 0);
  border-radius: 15px;
  border: 3px solid hotpink;
  color: seagreen;
}

#gig-link:hover {
  border: 3px solid seagreen;
  color:rgba(46, 139, 86, 0.808);
}

.previous-gigs-list {
  padding-left: 2em;
  width: 90%;
  margin: 0 auto;
}
